modules = ["nodejs-20", "python-3.12", "web"]
run = "docker-compose up --build"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "docker-compose up --build"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41322264
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "docker-compose up --build"
